body {
    margin: auto;
    background-color: wheat;
}

h1 {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}
h2 {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}
p {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
}

img {
    width: 90%;
    margin-left: 20px;
    margin-right: 20px;
}

#article_layou{
    width: 300px;
    height: auto;
    padding-left: 20%;
}

#nav_img {
    border-radius: 50%;
    margin-left: 15px;
    margin-bottom: 10px;
    height: 400px;
    width: 600px;
}
#design_img {
    margin-left: 15px;
    margin-bottom: 10px;
    height: 400px;
    width: 600px;
}

.box {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    width: 50%;
    border: 2px dotted black;
    margin-top: 30px;
}

#dir_list {
    text-align: left;
    margin-left: 50px;
}

.content{
    font-size: 20px;
}

.red_text {
    color: red;
}

#content_list{
    margin-top: -10px;
    margin-left: 50px;
    text-align: left;
}